<table class="table table-sm table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-left">DATE/TIME</th>
      <th scope="col" class="text-left">TEAMS</th>
      <th scope="col" class="text-center">SPORT</th>
      <th scope="col" class="text-left">CATEGORY</th>
      <th scope="col" class="text-center">TOURNAMENT</th>
      <th scope="col" class="text-center">FINAL RESULT</th>
      <th scope="col" class="text-center">PERIOD</th>
      <th scope="col" class="text-center">EDIT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of matches">
      <td class="text-left align-middle">{{ match.MatchPeriod }}</td>
      <td class="text-center align-middle">{{ match.TeamHome }} : {{ match.TeamAway}}</td>
      <td class="text-center align-middle">{{ match.SportName }}</td>
      <td class="text-center align-middle">{{ match.CategoryName }}</td>
      <td class="text-center align-middle">{{ match.TournamentName }}</td>
      <td class="text-center align-middle">{{ match.MatchResultHome }} : {{ match.MatchResultAway }}</td>
      <td class="text-center">
        <span *ngFor="let period of match.Periods">
            <p>{{ period.PeriodHome}} : {{period.PeriodAway}}</p>
        </span>
         
      </td>
      
        <td class="text-center align-middle">
            <button type="button" class="btn btn-link" (click)="editMatch(match.Id)">
                <i class="far fa-edit"></i>
            </button>
        </td>
      
    </tr>
  </tbody>
</table>


